@font-face {
    font-family: 'SourceCodePro';
    src: url('./SourceCodePro-Regular.otf.woff') format('woff'),
        url('./SourceCodePro-Bold.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    background: url('./icon.png');
    font-family: 'SourceCodePro';
}